aside.resources {
  width: 10%;
  height: 49.375vw;
  padding-bottom: 9.875vw;
}

.resources {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.resources_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.resources_resource {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10%;
}
.resources_resource-icon {
  width: 30%;
  margin-right: min(0.6vw, 10px);
  max-width: 45px;
}
.resources_resource-text {
  font-size: min(0.95vw, 1.03rem);
  margin-right: min(0.3vw, 4px);
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  max-width: 142px;
}
.resources_resource .colorWhite {
  color: rgb(225, 225, 225) !important;
}
@media screen and (max-width: 1850px) {
  .resources_resource {
    margin-left: 5%;
  }
  .resources_resource-icon {
    width: 25%;
  }
  .resources_resource-text {
    font-size: 0.8vw;
  }
}
.resources_buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9.875vw;
}
.resources_buttons-icon {
  width: 100%;
  padding: 10%;
  aspect-ratio: 1/1;
}
.resources_buttons button {
  display: grid;
  place-items: center;
}
.resources_buttons-seasons {
  position: absolute;
  top: 40%;
  width: 53%;
  aspect-ratio: 1/1;
  cursor: url("../src/other/pointer.png"), pointer;
}
.resources_buttons-left, .resources_buttons-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(0.45vw, 5%);
  width: 100%;
}
.resources_buttons-left--wrap, .resources_buttons-right--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(0.45vw, 5%);
  width: 100%;
}
.resources_buttons-left button, .resources_buttons-right button {
  margin-top: 2px;
  width: 49px;
  max-width: 30%;
  aspect-ratio: 1/1;
  cursor: url("../src/other/pointer.png"), pointer;
  background-color: #45230d;
  background-image: url("../src/backgrounds/btn1.jpg");
}
.resources_buttons-left button:hover, .resources_buttons-right button:hover {
  border-image: url("../src/backgrounds/border2.jpg") 25;
  background-image: url("../src/backgrounds/btn2.jpg");
}
.resources_buttons-left button:active, .resources_buttons-right button:active {
  border-image: url("../src/backgrounds/border1.jpg") 25;
  background-image: url("../src/backgrounds/btn1.jpg");
}
.resources_buttons-left [data-move=up], .resources_buttons-right [data-move=up] {
  transform: rotate(180deg);
}
.resources_buttons-left [data-move=left], .resources_buttons-right [data-move=left] {
  transform: rotate(90deg);
}
.resources_buttons-left [data-move=right], .resources_buttons-right [data-move=right] {
  transform: rotate(-90deg);
}
.resources_buttons-left {
  transform: translateX(0.15vw);
}
.resources_buttons-left button {
  width: 47px;
}
.resources_buttons-right--wrap {
  align-items: flex-start;
  height: 100%;
  margin-top: 5px;
}

.resource_right .resources_resource {
  justify-content: flex-end;
  margin-right: 10%;
  margin-left: 0;
}
@media screen and (max-width: 1850px) {
  .resource_right .resources_resource {
    margin-right: 5%;
  }
}

.resources_buttons-seasons {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.turnSide, .seasonSide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: clamp(0.5rem, 0.25rem + 1.25vw, 1.75rem);
  color: black;
  background-position: center;
  background-size: cover;
  background-image: url("../src/icons/seasons.png");
  border: min(0.2vw, 4px) inset #773421;
  border-right-color: #d09653;
  border-left-color: #d09653;
  border-top-style: solid;
  border-left-style: solid;
  border-radius: 50%;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transition: transform 1s, -webkit-transform 1s;
}

.rotateSide {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.seasonIcon, .turnIcon {
  height: 25%;
}

.turnSide {
  background-image: url("../src/backgrounds/loading2.jpg");
}

/*# sourceMappingURL=asides.css.map */
