$b-grad-1: #054c7f;
// bg buttons
$b-grad-2: rgb(13, 98, 172);
$b-grad-3: rgb(85, 138, 213);
$b-grad-3-5: #2e5b77;
$b-grad-4: rgb(243, 242, 242);
$b-grad-5: #57d6cb;
$b-grad-6: #F9F871;

$icon-color: #f5f5f5;

$button-background: $b-grad-2;
$button-top-left-border: $b-grad-4;
$button-down-right-border: $b-grad-3;

$button-background-hover: $b-grad-1;
$button-border-hover: $b-grad-2;

$color-alpha: #1276ce;

// 7B5831;

$b-grad-1: #2a1d0d;
// bg buttons
$b-grad-2: #45230d;
$b-grad-3: #773421;
$b-grad-3-5: #2e5b77;
$b-grad-4: #a56243;
$b-grad-5: #d09653;
$b-grad-6: #efac28;

$icon-color: #f5f5f5;

$button-background: $b-grad-2;
$button-top-left-border: #a56243;
$button-down-right-border: #773421;

$button-background-hover: $b-grad-1;
$button-border-hover: $b-grad-2;

$color-alpha: $b-grad-4;

$dialog-color: #2a1d0d;