@import 'variables';
@font-face {
    font-family: "MedievalSharp";
    src: url("../src/fonts/MedievalSharp-Regular.ttf");
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
display: grid;
place-items: center;
min-height: 100vh;
font-family: sans-serif;
background-image: url("../src/backgrounds/background.webp");
background-position: center;
background-size: cover;
overflow-x: hidden;
position: relative;
isolation: isolate;
cursor: url("../src/other/cursor.png"), auto;

    .hero {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: -1;
    }
}

.container {  
    width: 100%;
    aspect-ratio: 16 / 8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 79vw;
    margin: 0 auto;
}


button {
      border-style: inset;
      border-color:  $button-down-right-border;

      border-top-color: $button-top-left-border;
      border-left-color: $button-top-left-border;

      border-top-style: solid;
      border-left-style: solid;

      background-color: $button-background;

      background-image: url("../src/backgrounds/btn1.jpg");
      cursor: url('../src/other/pointer.png'), pointer;
}


button:hover {
    border-image: url('../src/backgrounds/border2.jpg') 25;
    background-image: url("../src/backgrounds/btn2.jpg");
}

button:active {
    border-image: url('../src/backgrounds/border1.jpg') 25;
    background-image: url("../src/backgrounds/btn1.jpg");
}


@media (max-width: 1800px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 1600px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 1400px) {
    :root {
        font-size: 10px;
    }
}

@media (max-width: 1200px) {
    :root {
        font-size: 8px;
    }

}